div.playlist::-webkit-scrollbar, div.songs::-webkit-scrollbar {
    width: 4px;
}

div.playlist::-webkit-scrollbar-track, div.songs::-webkit-scrollbar-track {
    background: #f1f1f1;
}

div.playlist::-webkit-scrollbar-thumb, div.songs::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

div.playlist::-webkit-scrollbar-thumb:hover, div.songs::-webkit-scrollbar-thumb:hover {
    background-color: lightgray;
}

/* Firefox */
div.playlist, div.songs {
    scrollbar-width: thin;
    scrollbar-color: lightgray #f1f1f1;
}
