* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(0.7vw + 0.7vh);
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    height: 100vh;
    gap: 0.5rem;
}

div.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid grey;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 80%;
    padding: 1rem 0;
    gap: 0.5rem;
}

p.subtitle {
    font-size: 0.65rem;
}

div.container {
    height: 90%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

div.playlist, div.current, div.songs {
    height: 100%;
    border: 1px solid grey;
    background-color: whitesmoke;
    border-radius: 5px;
}

div.playlist, div.songs {
    width: 25%;
}

div.current {
    width: 50%;
    height: 100%;
}

div.title {
    background-color: rgb(23, 93, 185);
    padding: 1rem 0.5rem;
    color: whitesmoke;
    font-size: 0.8rem;
}

ul {
    padding: 0 0.5rem;
    list-style-type: none;
}

li {
    margin: 0.5rem 0;
    cursor: pointer;
}

div.song {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    width: 100%;
    height: 3rem;
}

.song span.icon {
    width: 15%;
    height: 100%;
    background-color: lightgray;
}

.details {
    height: 100%;
    width: 70%;
    overflow: hidden;
}

.details p.name {
    font-size: 0.8rem;
}

.details p.artist {
    font-size: 0.6rem;
    color: grey;
}

.buttons button {
    margin-left: auto;
    font-size: 0.6rem;
    padding: 0.2rem 0.3rem;
}

.buttons svg {
    height: 20px;
    width: 20px;
}

div.buttons {
    width: 15%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.15rem;
}